.titulo {
  margin-top: 40px;
  text-align: center;
  color: orangered;
  text-decoration: overline;
  font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
}

.text-sporting, .text-portugal, .text-juve, .text-madrid, .text-united {
  text-align: center;
  margin-right: 60px;
  color: white;
  font-size: 23px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.nav .container-i:nth-child(4), .nav .container-i:nth-child(3), .nav .container-i:nth-child(2), .nav .container-i:nth-child(1) {
  background-color: rgba(10, 10, 10, 0.9);
  background-blend-mode: overlay;
}

@media (max-width: 600px) {
  .linea {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 100px;
  }
}
@media (max-width: 600px) {
  .banner_header {
    width: 100%;
  }
}
.img-h {
  filter: grayscale(80%);
  transition: filter 0.2s, transform 0.5s;
  margin-top: 15px;
}

.img-h:hover {
  filter: none;
  transform: scale(1.1);
}

header img {
  width: 100%;
}

.color-nav {
  color: none;
}

.nav-container {
  width: auto;
}

nav .nav-page .nav-li .nav-a {
  opacity: 70%;
}

.nav-selec {
  text-decoration: line-through;
  color: black;
}

.nav {
  display: block;
  width: 100%;
  height: 100vh;
  background: #222;
  overflow: none;
}

.nav .container-i {
  display: inline-block;
  width: 25%;
  height: 100%;
  float: left;
  background: #222;
  background-size: cover;
  background-position: center;
  transition: all 0.4s ease-out;
}

.info {
  position: relative;
  top: 30%;
  width: 80%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.title-i {
  display: block;
  width: 90%;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: #efefef;
  font-size: 35px;
  padding-top: 50%;
}

.info strong {
  display: block;
  width: 90%;
  min-height: 15px;
  line-height: 15px;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  color: orangered;
  font-size: 15px;
  font-style: italic;
}

.nav .container-i:nth-child(1) {
  background-image: url("https://i.imgur.com/41Aw49y.jpg");
}

.nav .container-i:nth-child(2) {
  background-image: url("https://i.imgur.com/rgGoqLu.jpg");
}

.nav .container-i:nth-child(3) {
  background-image: url("https://i.imgur.com/bxVjZF3.jpg");
}

.nav .container-i:nth-child(4) {
  background-image: url("https://i.imgur.com/goZ9J8U.jpg");
}

.nav .container-i:hover {
  background-color: rgba(10, 10, 10, 0.4);
  background-size: cover;
  transition: all 0.8s ease-out;
}

.nav .container-i .info .btn-i {
  margin: 0 auto;
  width: auto;
  height: auto;
  line-height: auto;
  background: rgba(0, 0, 0, 0.5);
  color: #000;
  font-weight: bold;
  font-size: 25px;
  font-weight: bold;
  display: block;
  position: relative;
  text-align: center;
  padding: 0.3em 0.6em 0.3em 0.6em;
  top: 10%;
  transform: rotate(45deg);
}

.nav .container-i:hover .btn-i {
  color: #eeeeee;
  background: #7b00b5;
  transform: rotate(0deg);
  transition: all 0.8s ease-out;
}

.nav .container-i .info .btn-i:hover {
  background: orangered;
  transition: all 0.4s ease-out;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .nav .container-i {
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.2);
  }
  .nav .container-i .info .btn-i:hover {
    background: orangered;
    transition: all 0.1s;
  }
  .nav .container-i .info .btn-i {
    background: #009999;
    color: #ffffff;
    transform: rotate(0deg);
  }
  .nav .container-i:hover .btn-i {
    transform: rotate(0deg);
  }
  .nav .container-i:nth-child(1) {
    background-color: rgba(10, 10, 10, 0.767);
  }
  .nav .container-i:nth-child(2) {
    background-color: rgba(10, 10, 10, 0.767);
  }
  .nav .container-i:nth-child(3) {
    background-color: rgba(10, 10, 10, 0.767);
  }
  .nav .container-i:nth-child(4) {
    background-color: rgba(10, 10, 10, 0.767);
  }
  .info strong {
    color: orangered;
  }
}
@media all and (min-width: 768px) and (max-width: 1100px) {
  .nav .container-i {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.2);
  }
  .nav .container-i .info .btn-i:hover {
    background: orangered;
    transition: all 0.1s;
  }
  .nav .container-i .info .btn-i {
    background: #009999;
    color: #ffffff;
    transform: rotate(0deg);
  }
  .nav .container-i:hover .btn-i {
    background: #ffffff;
    transform: rotate(0deg);
  }
  .nav .container-i:nth-child(1) {
    background-color: rgba(10, 10, 10, 0.767);
  }
  .nav .container-i:nth-child(2) {
    background-color: rgba(10, 10, 10, 0.767);
  }
  .nav .container-i:nth-child(3) {
    background-color: rgba(10, 10, 10, 0.767);
  }
  .nav .container-i:nth-child(4) {
    background-color: rgba(10, 10, 10, 0.767);
  }
  .info {
    top: 0%;
    height: 70%;
  }
  .info strong {
    color: orangered;
  }
}
.linea {
  width: 100%;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: orangered;
}

.video_siu {
  margin-left: auto;
  margin-right: auto;
}

li {
  display: inline-block;
}

.redes {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title-fo {
  color: orangered;
}

.card-footer {
  text-align: center;
}

.carru_bio {
  display: block;
  margin: auto;
}

.biografia_parrafo {
  text-align: center;
  margin-top: 35px;
  color: rgba(255, 255, 255, 0.747);
  font-size: 18px;
  font-family: "Barlow Semi Condensed";
  font-weight: sans-serif;
}

.card_career {
  width: 80%;
}

.card_career2 {
  width: 60%;
}

.card {
  display: inline-block;
  margin: 10px;
}

.title_career {
  text-align: center;
  color: orangered;
  font-size: 30px;
  font-family: "Oswald";
  font-weight: sans-serif;
}

.text_card {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20px;
}

.btn_card:hover {
  background-color: orangered;
}

.btn_card {
  text-decoration: none;
  border: none;
  background-color: black;
  font-family: "Oswald", sans-serif;
}

.card-t {
  width: 320px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}

.card-img-t {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-body-t {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  color: #fff;
  position: absolute;
  background: rgba(31, 61, 71, 0.2196078431);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.5s;
}

.card-t:hover .card-body-t {
  right: 0;
}

.card-title-t {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 500;
}

.card-sub-title-t {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}

.card-info-t {
  text-transform: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 10px 0;
}

.card-t-2 {
  margin-top: 50px;
}

@media (max-width: 600px) {
  .card-info-t {
    margin: 3px 0;
  }
}
.back:hover {
  color: orangered;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
}
body a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
