.titulo {
  margin-top: 40px;
  text-align: center;
  color: orangered;
  text-decoration: overline;
  font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
}

.text-sporting, .text-portugal, .text-juve, .text-madrid, .text-united {
  text-align: center;
  margin-right: 60px;
  color: white;
  font-size: 23px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.galery-home {
  display: flex;
  width: 800px;
  height: 430px;
  margin: 0 auto;
}

.galery-img {
  position: relative;
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.5s ease-out;
}

.text-galery {
  position: absolute;
  font-size: 60px;
}

.text-galery2 {
  position: absolute;
  font-size: 60px;
  margin-left: 100px;
}

.galery-img:hover {
  width: 150px;
  opacity: 1;
  filter: none;
}

.img-h {
  filter: grayscale(80%);
  transition: filter 0.2s, transform 0.5s;
  margin-top: 15px;
}

.img-h:hover {
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .linea {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 100px;
  }
}
@media (max-width: 600px) {
  .banner_header {
    width: 100%;
  }
}
header img {
  width: 100%;
}

.color-nav {
  color: none;
}

.nav-container {
  width: auto;
}

nav ul li a {
  opacity: 70%;
}

.nav-selec {
  text-decoration: line-through;
  color: black;
}

.img-position {
  position: relative;
  text-align: center;
}
.img-position img {
  display: block;
  max-width: 100%;
  height: auto;
}

.texto-encima {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_bio2:hover, .text_carrera2:hover, .text_titulos2:hover, .text_records2:hover {
  color: orangered;
}

.text_bio, .text_carrera, .text_titulos, .text_records {
  color: white;
  font-size: 50px;
  font-family: "Oswald";
  font-weight: sans-serif;
}

.text_bio2, .text_carrera2, .text_titulos2, .text_records2 {
  color: orangered;
  font-size: 20px;
  font-family: "Josefin Slab";
  font-weight: serif;
}

.linea {
  width: 100%;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: orangered;
}

.video_siu {
  margin-left: auto;
  margin-right: auto;
}

li {
  display: inline-block;
}

.redes {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title-fo {
  color: orangered;
}

.card-footer {
  text-align: center;
}

.carru_bio {
  display: block;
  margin: auto;
}

.biografia_parrafo {
  text-align: center;
  margin-top: 35px;
  color: rgba(255, 255, 255, 0.747);
  font-size: 18px;
  font-family: "Barlow Semi Condensed";
  font-weight: sans-serif;
}

.card_career {
  width: 80%;
}

.card_career2 {
  width: 60%;
}

.card {
  display: inline-block;
  margin: 10px;
}

.title_career {
  text-align: center;
  color: orangered;
  font-size: 30px;
  font-family: "Oswald";
  font-weight: sans-serif;
}

.text_card {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20px;
}

.btn_card:hover {
  background-color: orangered;
}

.btn_card {
  text-decoration: none;
  border: none;
  background-color: black;
  font-family: "Oswald", sans-serif;
}

.card-t {
  width: 320px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}

.card-img-t {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-body-t {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  color: #fff;
  position: absolute;
  background: rgba(31, 61, 71, 0.2196078431);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.5s;
}

.card-t:hover .card-body-t {
  right: 0;
}

.card-title-t {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
}

.card-sub-title-t {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}

.card-info-t {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}

.card-t-2 {
  margin-top: 50px;
}

.back:hover {
  color: orangered;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
}
body a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
