.titulo {
  margin-top: 40px;
  text-align: center;
  color: orangered;
  text-decoration: overline;
  font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
}

.text-portugal, .text-juve, .text-madrid, .text-united, .text-sporting {
  text-align: center;
  margin-right: 60px;
  color: white;
  font-size: 23px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

@media (max-width: 600px) {
  .linea {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 100px;
  }
}
header img {
  width: 100%;
}

.color-nav {
  color: none;
}

.nav-container {
  width: auto;
}

nav ul li a {
  opacity: 70%;
}

.nav-selec {
  text-decoration: line-through;
  color: black;
}

.img-position {
  position: relative;
  text-align: center;
}
.img-position img {
  display: block;
  max-width: 100%;
  height: auto;
  opacity: 50%;
}

.texto-encima {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_bio2:hover, .text_carrera2:hover, .text_titulos2:hover, .text_records2:hover {
  color: orangered;
}

.text_bio, .text_carrera, .text_titulos, .text_records {
  color: white;
  font-size: 50px;
  font-family: "Oswald";
  font-weight: sans-serif;
}

.text_bio2, .text_carrera2, .text_titulos2, .text_records2 {
  color: white;
  font-size: 20px;
  font-family: "Josefin Slab";
  font-weight: serif;
}

.linea {
  width: 100%;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: orangered;
}

.video_siu {
  margin-left: auto;
  margin-right: auto;
}

li {
  display: inline-block;
}

.redes {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title-fo {
  color: orangered;
}

.card-footer {
  text-align: center;
}

.carru_bio {
  display: block;
  margin: auto;
}

.biografia_parrafo {
  text-align: center;
  margin-top: 35px;
  color: rgba(255, 255, 255, 0.747);
  font-size: 18px;
  font-family: "Barlow Semi Condensed";
  font-weight: sans-serif;
}

.card_career {
  width: 80%;
}

.card_career2 {
  width: 60%;
}

.card {
  display: inline-block;
  margin: 10px;
}

.title_career {
  text-align: center;
  color: orangered;
  font-size: 30px;
  font-family: "Oswald";
  font-weight: sans-serif;
}

.text_card {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20px;
}

.btn_card:hover {
  background-color: orangered;
}

.btn_card {
  text-decoration: none;
  border: none;
  background-color: black;
  font-family: "Oswald", sans-serif;
}

.card-title {
  background-color: unset;
  margin-top: 40px;
}

.title-title {
  text-align: center;
  text-decoration: overline;
  color: orangered;
  font-size: 60px;
  font-family: "Bebas Neue";
  font-weight: sans-serif;
}

.text-title {
  text-align: center;
  margin-right: 60px;
  color: white;
  font-size: 23px;
  font-family: "Barlow Semi Condensed";
  font-weight: sans-serif;
}

.back:hover {
  color: orangered;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
}
body a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
