.titulo {
    @extend %titulos;
}
.carru_bio {
    display: block;
    margin: $auto;
}
.biografia_parrafo {
    text-align: $centrado;
    margin-top: 35px;
    @include text-i(rgba(255, 255, 255, 0.747), 18px, 'Barlow Semi Condensed', sans-serif);
}