.titulo {
    @extend %titulos;
}

.card_career {
    width: 80%;
}

.card_career2 {
    width: 60%;
}

.card {
    display: $inline;
    margin: 10px;
}

.title_career {
    text-align: $centrado;
    @include text-i(orangered, 30px, 'Oswald', sans-serif);
}
.text_card {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
}
.btn_card:hover {
    background-color: $color-ppl;
}
.btn_card {
    text-decoration: none;
    border: none;
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

