.linea {
    width: map-get($linea, tamaño);
    height: map-get($linea, altura);
    margin-top: map-get($linea, mrg-t);
    margin-bottom: map-get($linea, mrg-b);
    background-color: $color-ppl;
}
.video_siu {
    margin-left: $auto;
    margin-right: $auto;
}
li {
    display: $inline;
}
.redes {
    text-align: $centrado;
    margin-left: $auto;
    margin-right: $auto;
}
.title-fo{
    color: $color-ppl;
}
.card-footer{
    text-align: $centrado;
}

  
