.linea {
    width: 100%;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: orangered;
}
.video_siu {
    margin-left: auto;
    margin-right: auto;
}
li {
    display: inline-block;
}
.redes {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.card-footer{
    align-items: center;
}
.title-fo{
    color: orangered;
}

  
