
//HOME IMG/TEXT
.img-position{
    position: relative;
    text-align: $centrado;
        img{
            display: block;
            max-width: 100%;
            height: $auto;
        }
}

.texto-encima {
    position: absolute; 
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//DISEÑOS TEXTOS
.text_bio2:hover, .text_carrera2:hover, .text_titulos2:hover, .text_records2:hover{
    color: $color-ppl;
}

//MIXIN
.text_bio , .text_carrera, .text_titulos, .text_records{
    @include text-i(white, 50px, 'Oswald', sans-serif);
}
.text_bio2, .text_carrera2, .text_titulos2, .text_records2{
    @include text-i($color-ppl, 20px, 'Josefin Slab', serif)
}