//BARRA HOME
.color-nav{
    color: none;
}

.nav-container{
    width: $auto;
}

nav{
    ul{
        li{
            a{
                opacity: 70%;
            }
        }
    }
}
.nav-selec{
    text-decoration: line-through;
    color: black;
}