.titulo {
    @extend %titulos;
}
.card-title {
    background-color: unset;
    margin-top: 40px;
}
.title-title {
    text-align: $centrado;
    text-decoration: $decoration;
    @include text-i(orangered, 60px, 'Bebas Neue', sans-serif);
}
.text-title {
    text-align: $centrado;
    margin-right: 60px;
    @include text-i(white, 23px, 'Barlow Semi Condensed', sans-serif);
}