.titulo {
    margin-top: 40px;
    text-align: center;
    color: orangered;
    text-decoration: overline;
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
}
.card-title {
    background-color: unset;
    margin-top: 40px;
}
.title-title {
    color: orangered;
    text-align: center;
    text-decoration: overline;
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
}
.text-title {
    text-align: center;
    margin-right: 60px;
    color: white;
    font-size: 23px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}