.titulo {
    @extend %titulos;
}

.card-t {
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}
  
.card-img-t {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
  
  .card-body-t {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    color: #fff;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.5s;
  }
  
  .card-t:hover .card-body-t {
    right: 0;
  }
  
  .card-title-t {
    @include card-text(uppercase, 42px, 500);
  }
  
  .card-sub-title-t {
    @include card-text(capitalize, 14px, 300);
  }
  
  .card-info-t {
    @include card-text(none, 16px, 400);
    line-height: 25px;
    margin: 10px 0;
  }
.card-t-2{
    margin-top: 50px;
}

@media (max-width: 600px){
  .card-info-t{
    margin: 0px 0;
  }
}