
@media (max-width: 600px){
    .linea{
        margin-top: map-get($mrgs, mrg-t);
        margin-bottom: map-get($mrgs, mrg-b);
        height: map-get($mrgs, altura);
    }
}
@media (max-width: 600px){
    .banner_header{
        width: 100%;
    }
}