%titulos{
    margin-top: 40px;
    text-align: $centrado;
    color: orangered;
    text-decoration: overline;
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
}

%text-career{
    text-align: $centrado;
    margin-right: 60px;
    color: white;
    font-size: 23px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}