$linea:(
    tamaño: 100%,
    altura: 5px,
    mrg-t: 20px,
    mrg-b: 10px,
);

$mrgs:(
    mrg-t: 20px,
    mrg-b: 10px,
    altura: 100px,
);

$media-i:(
    dp-b: block,
    tmn: 100%,
    alt: 100%,
    bg-cl: rgba(10,10,10,.2),
    transi: all .1s,
    bg: #009999,
    clr: #ffffff,
    transf: rotate(0deg)
);